
bin/**
gen
*.hprof
*.apk
*.iml
.DS_Store
.apt_generated/**
.gradle/**
.idea/**
app/.idea/**
build/intermediates/**
build/generated/**
build/outputs/**
build/tmp/**
build/**
local.properties
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat