{include file="public/header" /}
{include file="public/date" /}
<body>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
       <div class="layui-card-header">
          <button class="layui-btn" onclick="set_add()">
            <i class="layui-icon"></i>添加
          </button>
        </div>
        <div class="layui-card-body ">
          <table class="layui-table layui-form">
            <thead>
              <tr>
                <th>ID</th>
                <th>名称</th>
                <th>vip天數</th>
                <th>原价</th>
                <th>现价</th>
                <th>是否展示</th>
                <th>是否折扣</th>
                <th>是否热门</th>
                <th>是否推荐</th>
                <th>排序</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
              <td>{$vo.id}</td>
              <td>{$vo.title}</td>
              <td>{$vo.day}</td>
              <td>{$vo.cost}</td>
              <td>{$vo.money}</td>
              <td>
                <input type="checkbox" name="status" data-id="{$vo.id}" {if condition="$vo.status eq 1"} checked {/if} value="{$vo.['status']}" lay-skin="switch" lay-filter="modify" lay-text="是|否">
              </td>
              <td>
                <input type="checkbox" name="is_sale" data-id="{$vo.id}" {if condition="$vo.is_sale eq 1"} checked {/if} value="{$vo.['is_sale']}" lay-skin="switch" lay-filter="modify" lay-text="是|否">
              </td>
              <td>
                <input type="checkbox" name="hot" data-id="{$vo.id}" {if condition="$vo.hot eq 1"} checked {/if} value="{$vo.['hot']}" lay-skin="switch" lay-filter="modify" lay-text="是|否">
              </td>
              <td>
                <input type="checkbox" name="recommend" data-id="{$vo.id}" {if condition="$vo.recommend eq 1"} checked {/if} value="{$vo.['recommend']}" lay-skin="switch" lay-filter="modify" lay-text="是|否">
              </td>
              <td><input  type="number" min="0" autocomplete="off" data-id="{$vo.id}" onchange="set_sort(this,this.value)" value="{$vo.sort}" class="layui-input sort"></td>
              <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_edit(this)" ><i class="layui-icon">&#xe642;</i>编辑</button>
                <button class="layui-btn-danger layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_del(this)" ><i class="layui-icon">&#xe640;</i>删除</button>
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script>
layui.use(['form'], function() {
  var form = layui.form;
  var $ = layui.$;

  // Initialize form elements (makes checkboxes appear as switches)
  form.render();
  
  // Handle changes for BOTH switches
  form.on('switch(modify)', function(data) {
    var field = $(this).attr('name');
    var value = this.checked ? 1 : 0;
    
    $.ajax({
      url: "{:url('vip/modify')}",
      type: "POST",
      data: {
        id: $(this).data('id'),
        field: field,  // Passes which field is being changed
        value: value
      },
      success: function(res) {
        layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2});
        if(res.code != 1) {
          // Revert if failed
          $(data.elem).prop('checked', !data.elem.checked);
          form.render('checkbox');
        }
      },
      error: function() {
        layer.msg("请求失败", {icon: 2});
        $(data.elem).prop('checked', !data.elem.checked);
        form.render('checkbox');
      }
    });
  });
});

/*
添加
 */
function set_add() {
  var url='{:url("info")}';
  layer.open({
    type: 2,
    title: '添加',
    shadeClose: true,
    shade: 0.8,
    area: ['80%', '80%'],
    content: url, //iframe的url
  });
}

/*
编辑
 */
function set_edit(t) {
  var id=$(t).attr("data-id");
  var url='{:url("info")}'+'?id='+id;
  layer.open({
    type: 2,
    title: '信息',
    shadeClose: true,
    shade: 0.8,
    area: ['80%', '80%'],
    content: url, //iframe的url
  });
}


/*
删除
 */
function set_del(t) {
  var id=$(t).attr("data-id");
  layer.confirm('你确定要删除么？', {
    btn: ['确定', '取消'] //可以无限个按钮
  }, function(index, layero){
    //按钮【按钮一】的回调
    $.post('{:url("del")}',{'id':id},function(data){
      if(data.code==1){
        layer.msg(data.msg,{icon:1});
        setTimeout(function () {
          location.reload();
        },800);
      }else{
        layer.alert(data.msg,{icon:2});
      }
    });

  }, function(index){
    //按钮【按钮二】的回调
  });

}

/*
排序
 */
function set_sort(t,value) {
  var id=$(t).attr("data-id");
  $.ajax({
    url: "{:url('modify')}",
    type: "POST",
    data: {
      id:id,
      field: 'sort',
      value: value,
    },
    async: false,
    success: function (data) {
      if(data.code==1){
        layer.msg(data.msg,{icon:1});
        setTimeout(function () {
          location.reload();
        }, 1500);
      }else{
        layer.msg(data.msg,{icon:2});
      }
    },
    error: function () {
      layer.msg("System Service Busy!", {offset: '200px'});
    }
  });

}
</script>

</html>