{include file="public/header" /}

<body>
<div class="layui-fluid">
  <div class="layui-row">
    <form class="layui-form">
      <input type="hidden" name="id" value="{$info.id}">

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>名称
        </label>
        <div class="layui-input-inline w500">
          <input type="text"  name="title" value="{$info.title}" required="" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>英文名称
        </label>
        <div class="layui-input-inline">
          <input type="text" required="" lay-verify="required"   name="title_en" value="{$info.title_en}"
                 autocomplete="off" class="layui-input">
        </div>
      </div>

      <!-- <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>俄语名称
        </label>
        <div class="layui-input-inline">
          <input type="text" required="" lay-verify="required"   name="title_ru" value="{$info.title_ru}"
                 autocomplete="off" class="layui-input">
        </div>
      </div> -->

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>描述
        </label>
        <div class="layui-input-inline w500">
          <input type="text"  name="des" value="{$info.des}" required="" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>英文描述
        </label>
        <div class="layui-input-inline w500">
          <input type="text"  name="des_en" value="{$info.des_en}" required="" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
      </div>

      <!-- <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>俄语描述
        </label>
        <div class="layui-input-inline w500">
          <input type="text"  name="des_ru" value="{$info.des_ru}" required="" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
      </div> -->

      <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red"></span>Vip天数：</label>
        <div class="layui-input-inline">
          <input type="number" name="day" value="{$info.day}"  autocomplete="off" class="layui-input">
        </div>
      </div>

      <!-- Diamond and Points -->
      <div class="layui-form-item">
        <label class="layui-form-label">赠送钻石:</label>
        <div class="layui-input-inline">
          <input type="number" name="diamonds" value="{$info.diamonds}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>不填默认为0
        </div>

        <label class="layui-form-label">赠送点卷:</label>
        <div class="layui-input-inline">
          <input type="number" name="points" value="{$info.points}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>不填默认为0
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red"></span>原价：</label>
        <div class="layui-input-inline">
          <input type="number" name="cost" value="{$info.cost}"  autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label"><span class="x-red"></span>现价：</label>
        <div class="layui-input-inline">
          <input type="number" name="money" value="{$info.money}"  autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red"></span>排序</label>
        <div class="layui-input-inline">
          <input type="number"min="0" name="sort"  edit="text" autocomplete="off" value="{$info.sort}" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red"></span>不填默认为0
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red"></span>是否展示</label>
        <div class="layui-input-block">
          <input type="radio" name="status" value="0" title="否" {if condition="$info.status eq 0 "}checked{/if}>
          <input type="radio" name="status" value="1" title="是" {if condition="$info.status eq 1 "}checked{/if}>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red"></span>是否折扣</label>
        <div class="layui-input-block">
          <input type="radio" name="is_sale" value="0" title="否" {if condition="$info.is_sale eq 0 "}checked{/if}>
          <input type="radio" name="is_sale" value="1" title="是" {if condition="$info.is_sale eq 1 "}checked{/if}>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red"></span>是否热门</label>
        <div class="layui-input-block">
          <input type="radio" name="hot" value="0" title="否" {if condition="$info.hot eq 0 "}checked{/if}>
          <input type="radio" name="hot" value="1" title="是" {if condition="$info.hot eq 1 "}checked{/if}>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red"></span>是否推荐</label>
        <div class="layui-input-block">
          <input type="radio" name="recommend" value="0" title="否" {if condition="$info.recommend eq 0 "}checked{/if}>
          <input type="radio" name="recommend" value="1" title="是" {if condition="$info.recommend eq 1 "}checked{/if}>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
        </label>
        <button  class="layui-btn"  lay-submit="sub"  lay-filter="sub">
          保存
        </button>
      </div>
    </form>
  </div>
</div>
<script>layui.use(['form', 'layer'],
        function() {
          $ = layui.jquery;
          var form = layui.form,
                  layer = layui.layer;
          var laydate = layui.laydate;
          form.verify({
            required: [/[\S]+/, "必填项不能为空"],
          });

          var flag=false;
          form.on('submit(sub)', function (data) {
            if (flag){
              return  false;
            }
            flag = true;
            $.ajax({
              url: "{:url('info')}",
              type: "POST",
              data: data.field,
              async: false,
              success: function (data) {
                console.log(data);
                if(data.code==1){
                  layer.msg(data.msg,{icon:1});
                  setTimeout(function () {
                    parent.layer.closeAll();
                    parent.location.reload();
                  },1500);
                }else{
                  flag = false;
                  layer.msg(data.msg,{icon:2});
                }
              },
              error: function () {
                flag = false;
                layer.msg("System Service Busy!", {offset: '200px'});
              }
            });
            return false;
          });

        });
</script>

</body>

</html>