{include file="public/header" /}
{include file="public/date" /}
<body>
<div class="layui-fluid">

  <div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
      <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
  </div>

  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">

        <div class="layui-card-body ">
          <table class="layui-table layui-form">
            <thead>
            <tr>
              <th>ID</th>
              <th>文本</th>
              <th width="200">图片</th>
              <th>时间</th>
              <th style="width:250px">操作</th></tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
              <td>{$vo.id}</td>
              <td>{$vo.text}</td>
              <td>
                  {volist name="vo.media" id="v"}
                     <div style="width:70px;height:70px;float: left;margin-left: 10px" onclick="show_img(this)"><img style="width: 100%;height: 100%" src="{$v}"></div>
                  {/volist}
              </td>
              <td>{$vo.create_at}</td>
              <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-primary" data-id="{$vo.id}" onclick="info(this)" >动态修改</button>
                <button class="layui-btn-danger layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_del(this)" >删除</button>
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
        <div class="layui-card-body ">

          <div id="pages" class="center"></div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script>
layui.use(['laydate', 'form'],
    function() {
      $ = layui.jquery;
      var form = layui.form,
          layer = layui.layer;

      var curUrl="{:url('detail',$param)}";
      layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
            , layer = layui.layer,
            $ = layer.jquery;
        laypage.render({
          elem: 'pages'
          ,count: {$total}
          ,limit: {$limit}
          ,limits:[10,20,50,100]
          ,curr: {$page}
          ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
          ,jump: function(obj,first){
            if(!first){
              location.href = curUrl.replace('%7Bpage%7D',obj.curr).replace('%7Blimit%7D',obj.limit);
            }
          }
        });
      });
    });



/*
删除
 */
function set_del(t) {
  var id=$(t).attr("data-id");
  layer.confirm('你确定要删除么？', {
    btn: ['确定', '取消'] //可以无限个按钮
  }, function(index, layero){
    //按钮【按钮一】的回调
    $.post('{:url("del")}',{'id':id},function(data){
      if(data.code==1){
        layer.msg(data.msg,{icon:1});
        setTimeout(function () {
          location.reload();
        },1500);
      }else{
        layer.alert(data.msg,{icon:2});
      }
    });

  }, function(index){
    //按钮【按钮二】的回调
  });

}

/*
编辑
 */
function info(t) {
  var id=$(t).attr("data-id");
  var url='{:url("detail_info")}'+'?id='+id;
  var edit = layer.open({
    type: 2,
    title: '动态详情',
    area: ['100%', '100%'],
    content: url, //iframe的url
  });
  layer.full(edit);
}

/*
添加
 */
function set_add() {
  var url='{:url("info")}';
  layer.open({
    type: 2,
    title: '添加动态',
    shadeClose: true,
    shade: 0.8,
    area: ['80%', '80%'],
    content: url, //iframe的url
  });
}

//图片显示
function show_img(t) {
    var t = $(t).find("img");
    //页面层
    layer.open({
        type: 1,
        skin: 'layui-layer-rim', //加上边框
        area: ['75%', '75%'], //宽高
        shadeClose: true, //开启遮罩关闭
        end: function (index, layero) {
            $('body,html,iframe').css({
                "overflow-x": "auto",
                "overflow-y": "auto"
            });
            return false;
        },
        content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
    });
    $('body,html,iframe').css({
        "overflow-x": "hidden",
        "overflow-y": "hidden"
    });
}

</script>
</html>