{include file="public/header" /}
{include file="public/date" /}
<body>
<div class="layui-fluid">

  <div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
      <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
  </div>

  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body ">
          <form class="layui-form layui-col-space5" action="">
            <div class="layui-input-inline layui-show-xs-block">
              <input type="text" name="id" placeholder="动态ID"  value="{$param['id']}" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline layui-show-xs-block">
              <input type="text" name="wd" placeholder="请输入演员名称"  value="{$param['wd']}" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline layui-show-xs-block">
              <input type="submit" class="layui-btn"  value="搜索">
            </div>
          </form>
        </div>

        <div class="layui-card-body ">
          <table class="layui-table layui-form">
            <thead>
            <tr>
              <th>ID</th>
              <th>演员</th>
              <th>是否关联</th>
              <th>操作</th></tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
              <td>{$vo.id}</td>
              <td>{$vo.name}</td>
              <td>
                {switch $vo.is_rel }
                {case 1}<span class='label label-success'>是</span>{/case}
                {case 0}<span class='label label-danger'>否</span>{/case}
                {/switch}
              </td>
              <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-primary" data-id="{$vo.id}" onclick="info(this)" >动态详情</button>
                <button class="layui-btn-danger layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_del(this)" >删除</button>
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
        <div class="layui-card-body ">

          <div id="pages" class="center"></div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script>
layui.use(['laydate', 'form'],
    function() {
      $ = layui.jquery;
      var form = layui.form,
          layer = layui.layer;

      var curUrl="{:url('index',$param)}";
      layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
            , layer = layui.layer,
            $ = layer.jquery;
        laypage.render({
          elem: 'pages'
          ,count: {$total}
          ,limit: {$limit}
          ,limits:[10,20,50,100]
          ,curr: {$page}
          ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
          ,jump: function(obj,first){
            if(!first){
              location.href = curUrl.replace('%7Bpage%7D',obj.curr).replace('%7Blimit%7D',obj.limit);
            }
          }
        });
      });
    });



/*
删除
 */
function set_del(t) {
  var id=$(t).attr("data-id");
  layer.confirm('你确定要删除么？', {
    btn: ['确定', '取消'] //可以无限个按钮
  }, function(index, layero){
    //按钮【按钮一】的回调
    $.post('{:url("del")}',{'id':id},function(data){
      if(data.code==1){
        layer.msg(data.msg,{icon:1});
        setTimeout(function () {
          location.reload();
        },1500);
      }else{
        layer.alert(data.msg,{icon:2});
      }
    });

  }, function(index){
    //按钮【按钮二】的回调
  });

}

/*
编辑
 */
function info(t) {
  var id=$(t).attr("data-id");
  var url='{:url("detail")}'+'?tid='+id;
  var edit = layer.open({
    type: 2,
    title: '动态详情',
    area: ['100%', '100%'],
    content: url, //iframe的url
  });
  layer.full(edit);
}

/*
添加
 */
function set_add() {
  var url='{:url("info")}';
  layer.open({
    type: 2,
    title: '添加动态',
    shadeClose: true,
    shade: 0.8,
    area: ['80%', '80%'],
    content: url, //iframe的url
  });
}

</script>
</html>