<link rel="stylesheet" href="__STATIC__/daterangepicker/css/bootstrap.css" />
<link rel="stylesheet" href="__STATIC__/daterangepicker/css/font-awesome.css" />
<link rel="stylesheet" href="__STATIC__/daterangepicker/css/daterangepicker.css" />

<script src='__STATIC__/daterangepicker/js/jquery.js'></script>
<script src='__STATIC__/daterangepicker/js/common.js'></script>
<script src="__STATIC__/daterangepicker/js/date-time/moment.js?ver=1" type="text/javascript"></script>
<script src="__STATIC__/daterangepicker/js/date-time/daterangepicker.zh-CN.js?ver=1" type="text/javascript"></script>
<script src="__STATIC__/daterangepicker/js/date-time/daterangepicker.js?ver=1" type="text/javascript"></script>
<style>
    .daterangepicker_start_input{
        display: none;
    }
    .daterangepicker_end_input{
        display: none;
    }
</style>