{include file="public/header" /}
{include file="public/date" /}
<body>
<div class="layui-fluid">
    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
      </a>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" action="">
                      <div class="layui-input-inline w150">
                        <select name="day">
                          <option value="">有效天数</option>
                          <option value="3" {if condition="$param['day'] eq '3'"}selected {/if}>3天</option>
                          <option value="7" {if condition="$param['day'] eq '7'"}selected {/if}>7天</option>
                          <option value="30" {if condition="$param['day'] eq '30'"}selected {/if}>30天</option>
                          <option value="60" {if condition="$param['day'] eq '60'"}selected {/if}>60天</option>
                          <option value="360" {if condition="$param['day'] eq '360'"}selected {/if}>360天</option>
                        </select>
                      </div>
                      <div class="layui-input-inline w150">
                        <select name="status">
                          <option value="">状态</option>
                          <option value="0" {if condition="$param['status'] eq '0'"}selected {/if}>待兑换</option>
                          <option value="1" {if condition="$param['status'] eq '1'"}selected {/if}>已兑换</option>
                        </select>
                      </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="submit" class="layui-btn"  value="搜索">
                        </div>
                    </form>
                </div>

              <div class="layui-card-header">
                <button class="layui-btn" onclick="create()">
                  <i class="layui-icon"></i>生成兑换码
                </button>
              </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="width: 50px;">ID</th>
                            <th>兑换码</th>
                            <th>有效天数</th>
                            <th>状态</th>
                            <th>生成时间</th>
                            <th>兑换时间</th>
                            <th>天数</th>
                            <th>钻石</th>
                            <th>点卷</th>
                            <th>用户ID</th>
<!--                            <th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list as $k => $vo}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.code}</td>
                            <td>{$vo.day}</td>
                            <td>
                              {switch $vo.status }
                              {case 0 }<span class='label label-success'>待兑换</span>{/case}
                              {case 1}<span class='label label-warning'>已兑换</span>{/case}
                              {/switch}
                            </td>

                            <td>{$vo.create_time}</td>
                            <td>{$vo.exchange_time}</td>
                            <td>{$vo.day_value}</td>
                            <td>{$vo.diamonds}</td>
                            <td>{$vo.points}</td>
                            <td>{$vo.uid}</td>
<!--                            <td class="td-manage">
                              <button class="layui-btn layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_edit(this)" ><i class="layui-icon">&#xe642;</i>编辑</button>
                            </td>-->
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">

                    <div id="pages" class="center">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
layui.use(['laydate', 'form'],
    function() {
      $ = layui.jquery;
      var form = layui.form,
          layer = layui.layer;

      var curUrl = "{:url('index',$param)}";
      layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer,
            $ = layer.jquery;
        laypage.render({
          elem: 'pages'
          , count: {$total}
          , limit: {$limit}
          , limits: [10, 20, 50, 100]
          , curr: {$page}
          , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
          , jump: function (obj, first) {
            if (!first) {
              location.href = curUrl.replace('%7Bpage%7D', obj.curr).replace('%7Blimit%7D', obj.limit);
            }
          }
        });
      });

    });

    /*
    添加
     */
    function create() {
      var url='{:url("create")}';
      layer.open({
        type: 2,
        title: '生成兑换码',
        shadeClose: true,
        shade: 0.8,
        area: ['80%', '80%'],
        content: url, //iframe的url
      });
    }

    /*
    编辑
     */
    function set_edit(t) {
      var id=$(t).attr("data-id");
      var url='{:url("info")}'+'?id='+id;
      layer.open({
        type: 2,
        title: '修改',
        shadeClose: true,
        shade: 0.8,
        area: ['80%', '80%'],
        content: url, //iframe的url
      });
    }

</script>

</html>

