{include file="public/header" /}
<body>
<div class="layui-fluid">

    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
      </a>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" action="">
                      <div class="layui-input-inline layui-show-xs-block">
                        <input type="text" name="id" placeholder="id"  value="{$param['id']}" autocomplete="off" class="layui-input">
                      </div>

                        <div class="layui-input-inline layui-show-xs-block">
                          <input type="text" name="wd" placeholder="请输入名称"  value="{$param['wd']}" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline w150">
                            <select name="status">
                                <option value="">选择状态</option>
                                <option value="0" {if condition="$param['status'] eq '0'"}selected {/if}>未审核</option>
                                <option value="1" {if condition="$param['status'] eq '1'"}selected {/if}>已审核</option>
                            </select>
                        </div>
                        <div class="layui-input-inline w150">
                            <select name="mhstatus">
                                <option value="">选择进度</option>
                                <option value="0" {if condition="$param['mhstatus'] eq '0'"}selected {/if}>连载</option>
                                <option value="1" {if condition="$param['mhstatus'] eq '1'"}selected {/if}>完结</option>
                            </select>
                        </div>
                        <div class="layui-input-inline w150">
                            <select name="isjingpin">
                                <option value="">重磅推荐</option>
                                <option value="0" {if condition="$param['isjingpin'] eq '0'"}selected {/if}>否</option>
                                <option value="1" {if condition="$param['isjingpin'] eq '1'"}selected {/if}>是</option>
                            </select>
                        </div>
                        <div class="layui-input-inline w150">
                            <select name="xianmian">
                                <option value="">每周限免</option>
                                <option value="0" {if condition="$param['xianmian'] eq '0'"}selected {/if}>否</option>
                                <option value="1" {if condition="$param['xianmian'] eq '1'"}selected {/if}>是</option>
                            </select>
                        </div>
                        <div class="layui-input-inline w150">
                            <select name="issole">
                                <option value="">独家热门</option>
                                <option value="0" {if condition="$param['issole'] eq '0'"}selected {/if}>否</option>
                                <option value="1" {if condition="$param['issole'] eq '1'"}selected {/if}>是</option>
                            </select>
                        </div>

                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="ticai_id">
                                <option value="">题材</option>
                                {volist name="ticaiList" id="vo"}
                                <option value="{$vo.id}" {if condition="$param['ticai_id'] eq $vo.id"}selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="submit" class="layui-btn"  value="搜索">
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-normal" onclick="clearComic()">
                        <i class="layui-icon"></i>清除缓存
                    </button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th width="60">ID</th>
                            <th width="80">采集id</th>
                            <th width="150">标题</th>
                            <th width="80">题材</th>
                            <th width="100">标签</th>
                            <th>封面图</th>
                            <th width="80">更新时间</th>
                            <th width="80">是否上线</th>
                            <th width="80">每周限免</th>
                            <th width="80">独家热门</th>
                            <th width="80">重磅推荐</th>
                          <th width="300">操作</th></tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.cjid}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.ticai_name}</td>
                            <td>{$vo.tags_name}</td>
                            <td><div style="height:70px;width:70px;cursor:pointer;" onclick="show_img(this)"><img style="width: 100%;height: 100%" src="{$vo.image}"></div></td>
                            <td>{$vo.update_time}</td>
                            <td>
                              <input type="checkbox" name="status" data-id="{$vo.id}" type="checkbox"  {if condition="$vo.status eq 1"} checked {/if}  value="{$vo['status']}" lay-skin="switch" lay-filter="modify" lay-text="是|否" >
                            </td>
                            <td>
                                <input type="checkbox" name="xianmian" data-id="{$vo.id}" type="checkbox"  {if condition="$vo.xianmian eq 1"} checked {/if}  value="{$vo['status']}" lay-skin="switch" lay-filter="modify" lay-text="是|否" >
                            </td>
                            <td>
                                <input type="checkbox" name="issole" data-id="{$vo.id}" type="checkbox"  {if condition="$vo.issole eq 1"} checked {/if}  value="{$vo['status']}" lay-skin="switch" lay-filter="modify" lay-text="是|否" >
                            </td>
                            <td>
                                <input type="checkbox" name="isjingpin" data-id="{$vo.id}" type="checkbox"  {if condition="$vo.isjingpin eq 1"} checked {/if}  value="{$vo['status']}" lay-skin="switch" lay-filter="modify" lay-text="是|否" >
                            </td>
                            <td class="td-manage">
                                <button class="layui-btn layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="chapter(this)" >章节</button>
                                <button class="layui-btn layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_edit(this)" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                <button class="layui-btn-danger layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_del(this)" ><i class="layui-icon">&#xe640;</i>删除</button>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">

                    <div id="pages" class="center"></div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
layui.use(['laydate', 'form'],
    function() {
      $ = layui.jquery;
      var form = layui.form,
          layer = layui.layer;

      var curUrl="{:url('index',$param)}";
      layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
            , layer = layui.layer,
            $ = layer.jquery;
        laypage.render({
          elem: 'pages'
          ,count: {$total}
          ,limit: {$limit}
          ,limits:[10,20,50,100]
          ,curr: {$page}
          ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
          ,jump: function(obj,first){
            if(!first){
              location.href = curUrl.replace('%7Bpage%7D',obj.curr).replace('%7Blimit%7D',obj.limit);
            }
          }
        });
      });


      form.on('switch(modify)',function(data){
        var that = $(this), status = 0;
        var field = that.attr('name');
        if(this.checked){
          if(field == 'private'){
            status = 2;
          }else{
            status = 1;
          }
        }

        var id = that.attr('data-id');
        $.ajax({
          url: "{:url('modify')}",
          type: "POST",
          data: {
            id:id,
            field:field,
            value: status,
          },
          async: false,
          success: function (data) {
            if(data.code==1){
              layer.msg(data.msg,{icon:1});
              setTimeout(function () {
                location.reload();
              }, 1500);
            }else{
              layer.msg(data.msg,{icon:2});
              setTimeout(function () {
                location.reload();
              }, 1500);
            }
          },
          error: function () {
            layer.msg("System Service Busy!", {offset: '200px'});
          }
        });
      });
    });


    /*
    编辑
     */
    function set_edit(t) {
      var id=$(t).attr("data-id");
      var url='{:url("info")}'+'?id='+id;
      var edit = layer.open({
        type: 2,
        title: '编辑视频',
        area: ['100%', '100%'],
        content: url, //iframe的url
      });
      layer.full(edit);
    }


    /*
    编辑
    */
    function chapter(t) {
        var id=$(t).attr("data-id");
        var url='{:url("chapter")}'+'?comic_id='+id;
        var edit = layer.open({
            type: 2,
            title: '漫画章节',
            area: ['100%', '100%'],
            content: url, //iframe的url
        });
        layer.full(edit);
    }


    /*
    删除
     */
    function set_del(t) {
      var id=$(t).attr("data-id");
      layer.confirm('你确定要删除么？', {
        btn: ['确定', '取消'] //可以无限个按钮
      }, function(index, layero){
        //按钮【按钮一】的回调
        $.post('{:url("del")}',{'id':id},function(data){
          if(data.code==1){
            layer.msg(data.msg,{icon:1});
            setTimeout(function () {
              location.reload();
            },1500);
          }else{
            layer.alert(data.msg,{icon:2});
          }
        });

      }, function(index){
        //按钮【按钮二】的回调
      });

    }

  //图片显示
    function show_img(t) {
      var t = $(t).find("img");
      //页面层
      layer.open({
        type: 1,
        skin: 'layui-layer-rim', //加上边框
        area: ['75%', '85%'], //宽高
        shadeClose: true, //开启遮罩关闭
        end: function (index, layero) {
          return false;
        },
        content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
      });
    }

function clearComic() {
    layer.confirm('你确定要清除Comic缓存么？', {
        btn: ['确定', '取消'] //可以无限个按钮
    }, function(index, layero){
        //按钮【按钮一】的回调
        $.post('{:url("clear")}',{},function(data){
            if(data.code==1){
                layer.msg(data.msg,{icon:1});
                setTimeout(function () {
                    location.reload();
                },1500);

            }else{
                layer.alert(data.msg,{icon:2});
            }
        });

    }, function(index){
        //按钮【按钮二】的回调
    });


}
</script>
</html>