[Unit]
Description=middle_sender
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Restart=always
ExecStart=/home/middle_sender/middle_sender
WorkingDirectory=/home/middle_sender

[Install]
WantedBy=multi-user.target