{include file="public/header" /}
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <form class="layui-form">
      <input type="hidden" name="id" value="{$info.id}">
      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>标题
        </label>
        <div class="layui-input-inline">
          <input type="text"  name="title" value="{$info.title}" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>缩略图
        </label>
        <div class="layui-input-inline">
          <input type="text" name="img" id="img" value="{$info.img}"  lay-verify="required" style="width: 400px" class="layui-input" onclick="change()">
          <img alt style="max-width: 200px" class="img" id="img1" src="{$info.img}" />
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          跳转url
        </label>
        <div class="layui-input-inline">
          <input type="text" name="url" value="{$info.url}"  style="width: 400px" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red"></span>状态</label>
        <div class="layui-input-block">
          <input type="radio" name="status"  lay-filter="status" value="1" title="展示" {if condition="$info.status eq 1 "}checked{/if}>
          <input type="radio" name="status" lay-filter="status" value="0" title="隐藏" {if condition="$info.status eq 0 "}checked{/if}>
        </div>
      </div>


      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red"></span>排序</label>
        <div class="layui-input-inline">
          <input type="number"min="0" name="sort" autocomplete="off" value="{$info.sort}" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red"></span>不填默认为99
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
        </label>
        <button  class="layui-btn"  lay-submit="sub"  lay-filter="sub">
          保存
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  layui.use(['form', 'layer'],
        function() {
          $ = layui.jquery;
          var form = layui.form,
                  layer = layui.layer;
          form.verify({
            required: [/[\S]+/, "必填项不能为空"],
          });

          form.on('submit(sub)', function (data) {
            $.ajax({
              url: "{:url('info')}",
              type: "POST",
              data: data.field,
              async: false,
              success: function (data) {
                console.log(data);
                if(data.code==1){
                  layer.msg(data.msg,{icon:1});
                  setTimeout(function () {
                    parent.layer.closeAll();
                    parent.location.reload();
                  },1500);
                }else{
                  layer.msg(data.msg,{icon:2});
                }
              },
              error: function () {
                layer.msg("System Service Busy!", {offset: '200px'});
              }
            });
            return false;
          });

        });
  function change() {

      var src=$("#img").val();
      $('#img1').attr("src", src)//这时写地址
  }
</script>
</body>

</html>
