{include file="public/header" /}
<body>
  <div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
      <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
  </div>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">
          <button class="layui-btn" onclick="set_add()">
            <i class="layui-icon"></i>添加
          </button>
        </div>
        <div class="layui-card-body ">
          <table class="layui-table layui-form">
            <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>区号</th>
              <th>首字母（大写）</th>
              <th>是否展示</th>
              <th style="width: 100px">排序</th>
              <th>操作</th></tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
              <td>{$vo.id}</td>
              <td>{$vo.name}</td>
              <td>{$vo.code}</td>
              <td>{$vo.initial}</td>
              <td class="td-status">
                {switch $vo.status }
                {case 0 }<span class='label label-danger'>否</span>{/case}
                {case 1}<span class='label label-success'>是</span>{/case}
                {/switch}
              </td>
              <td><input  type="number" min="0" autocomplete="off" data-id="{$vo.id}" onchange="set_sort(this,this.value)" value="{$vo.sort}" class="layui-input sort"></td>
              <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_edit(this)" ><i class="layui-icon">&#xe642;</i>编辑</button>
                <button class="layui-btn-danger layui-btn layui-btn-xs"  data-id="{$vo.id}" onclick="set_del(this)" ><i class="layui-icon">&#xe640;</i>删除</button>
              
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
        <div class="layui-card-body ">
          <div id="pages" class="center">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script>
layui.use(['laydate', 'form'],
    function() {
      $ = layui.jquery;
      var form = layui.form,
          layer = layui.layer;

      var curUrl = "{:url('index',$param)}";
      layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer,
            $ = layer.jquery;
        laypage.render({
          elem: 'pages'
          , count: {$total}
          , limit: {$limit}
          , limits: [10, 20, 50, 100]
          , curr: {$page}
          , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
          , jump: function (obj, first) {
            if (!first) {
              location.href = curUrl.replace('%7Bpage%7D', obj.curr).replace('%7Blimit%7D', obj.limit);
            }
          }
        });
      });


      form.on('switch(modify)',function(data){
        var that = $(this), status = 0;
        if(this.checked){
          status = 1;
        }
        var field = that.attr('name');
        var id = that.attr('data-id');
        $.ajax({
          url: "{:url('modify')}",
          type: "POST",
          data: {
            id:id,
            field: field,
            value: status,
          },
          async: false,
          success: function (data) {
            if(data.code==1){
              layer.msg(data.msg,{icon:1});
              setTimeout(function () {
                location.reload();
              }, 1500);
            }else{
              layer.msg(data.msg,{icon:2});
            }
          },
          error: function () {
            layer.msg("System Service Busy!", {offset: '200px'});
          }
        });
      });
    });

/*
添加
 */
function set_add() {
  var url='{:url("info")}';
  layer.open({
    type: 2,
    title: '添加',
    shadeClose: true,
    shade: 0.8,
    area: ['80%', '80%'],
    content: url, //iframe的url
  });
}

/*
编辑
 */
function set_edit(t) {
  var id=$(t).attr("data-id");
  var url='{:url("info")}'+'?id='+id;
  layer.open({
    type: 2,
    title: '信息',
    shadeClose: true,
    shade: 0.8,
    area: ['80%', '80%'],
    content: url, //iframe的url
  });
}


/*
删除
 */
function set_del(t) {
  var id=$(t).attr("data-id");
  layer.confirm('你确定要删除么？', {
    btn: ['确定', '取消'] //可以无限个按钮
  }, function(index, layero){
    //按钮【按钮一】的回调
    $.post('{:url("del")}',{'id':id},function(data){
      if(data.code==1){
        layer.msg(data.msg,{icon:1});
        setTimeout(function () {
          location.reload();
        },800);
      }else{
        layer.alert(data.msg,{icon:2});
      }
    });

  }, function(index){
    //按钮【按钮二】的回调
  });

}

/*
排序
 */
function set_sort(t,value) {
  var id=$(t).attr("data-id");
  $.ajax({
    url: "{:url('modify')}",
    type: "POST",
    data: {
      id:id,
      field: 'sort',
      value: value,
    },
    async: false,
    success: function (data) {
      if(data.code==1){
        layer.msg(data.msg,{icon:1});
        setTimeout(function () {
          location.reload();
        }, 1500);
      }else{
        layer.msg(data.msg,{icon:2});
      }
    },
    error: function () {
      layer.msg("System Service Busy!", {offset: '200px'});
    }
  });

}
</script>

</html>