{include file="public/header" /}

<body>
    <style>
        .dropdown-menu {
            display: none;
            position: absolute;
            right: 0;
            top: 32px;
            background: #fff;
            border: 1px solid #eee;
            border-radius: 4px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
            z-index: 999;
            /* padding: 5px 0; */
            min-width: 100px;
        }

        .dropdown-menu li {
            padding: 8px 15px;
            font-size: 13px;
            cursor: pointer;
            white-space: nowrap;
        }

        .dropdown-menu li:hover {
            background: #f2f2f2;
        }

        .dropdown-danger {
            color: #ff4d4f;
            font-weight: bold;
        }

        .dropdown-danger:hover {
            background-color: #ffecec;
        }
    </style>
    <div class="layui-fluid">

        <div class="x-nav">
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
                onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>

        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5" action="">
                            <!-- <div class="layui-input-inline layui-show-xs-block">
                                <input type="text" name="id" placeholder="id" value="{$param['id']}" autocomplete="off"
                                    class="layui-input">
                            </div> -->

                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="text" name="wd" placeholder="请输入章节名称" value="{$param['wd']}"
                                    autocomplete="off" class="layui-input">
                            </div>

                            <!-- <div class="layui-input-inline w150">
                                <select name="translate_status">
                                    <option value="">文本翻译</option>
                                    <option value="0" {if condition="$param['translate_status'] eq '0'" }selected {/if}>未翻译</option>
                                    <option value="1" {if condition="$param['translate_status'] eq '1'" }selected {/if}>已翻译</option>
                                </select>
                            </div>

                            <div class="layui-input-inline w150">
                                <select name="translate_img">
                                    <option value="">图集翻译</option>
                                    <option value="0" {if condition="$param['translate_img'] eq '0'" }selected {/if}>未翻译</option>
                                    <option value="1" {if condition="$param['translate_img'] eq '1'" }selected {/if}>翻译中</option>
                                    <option value="2" {if condition="$param['translate_img'] eq '2'" }selected {/if}>翻译成功</option>
                                    <option value="3" {if condition="$param['translate_img'] eq '3'" }selected {/if}>翻译失败</option>
                                </select>
                            </div> -->

                            <div class="layui-input-inline w150">
                                <select name="switch">
                                    <option value="">选择状态</option>
                                    <option value="0" {if condition="$param['switch'] eq '0'" }selected {/if}>未审核
                                    </option>
                                    <option value="1" {if condition="$param['switch'] eq '1'" }selected {/if}>已审核
                                    </option>
                                </select>
                            </div>

                            <div class="layui-input-inline w150">
                                <select name="isvip">
                                    <option value="">权限</option>
                                    <option value="0" {if condition="$param['isvip'] eq '0'" }selected {/if}>免费</option>
                                    <option value="1" {if condition="$param['isvip'] eq '1'" }selected {/if}>VIP
                                    </option>
                                </select>
                            </div>

                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="text" name="update_time" id="update_time" placeholder="更新时间范围"
                                    value="{$param['update_time']}" autocomplete="off" class="layui-input">
                            </div>

                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="submit" class="layui-btn" value="搜索">
                            </div>

                            <div class="layui-input-inline layui-show-xs-block">
                                <a href="{:url('index')}" class="layui-btn layui-btn-primary">重置</a>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-header">
                        <div class="layui-btn-group" style="position: relative;">
                            <button class="layui-btn layui-btn-normal dropdown-trigger">
                            <i class="layui-icon"></i> 操作 <i class="layui-icon layui-icon-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                            <li onclick="batchDeleteChapter()"><i class="layui-icon">&#xe640;</i> 批量删除</li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" lay-skin="primary" lay-filter="selectAll"></th>
                                    <th>ID</th>
                                    <th width="80">采集id</th>
                                    <th>标题</th>
                                    <th>封面图</th>
                                    <th>书币</th>
                                    <!-- <th>文本翻译</th>
                                    <th>图片翻译</th> -->
                                    <th>是否上线</th>
                                    <th>是否VIP</th>
                                    <th>更新时间</th>
                                    <th style="width: 300px">操作</th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr>
                                    <td><input type="checkbox" lay-skin="primary" class="selectItem" value="{$vo.id}"></td>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.cjid}</td>
                                    <td>{$vo.title}</td>
                                    <td>
                                        <div style="height:70px;width:70px;cursor:pointer;" onclick="show_img(this)">
                                            <img style="width: 100%;height: 100%" src="{$vo.image}">
                                        </div>
                                    </td>
                                    <td>{$vo.score}</td>
                                    <!-- <td>
                                        {if $vo.translate_status == 0}
                                        未翻译
                                        {else /}
                                        已翻译
                                        {/if}
                                    </td>
                                    <td>
                                        {if $vo.translate_img == 0}
                                        未翻译
                                        {elseif $vo.translate_img == 1 /}
                                        翻译中
                                        {elseif $vo.translate_img == 2 /}
                                        翻译成功
                                        {elseif $vo.translate_img == 3 /}
                                        翻译失败
                                        {else /}
                                        未知状态
                                        {/if}
                                    </td> -->
                                    <td>
                                        <input type="checkbox" name="switch" data-id="{$vo.id}" type="checkbox" {if
                                            condition="$vo.switch eq 1" } checked {/if} value="{$vo['switch']}"
                                            lay-skin="switch" lay-filter="modify" lay-text="是|否">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="isvip" data-id="{$vo.id}" type="checkbox" {if
                                            condition="$vo.isvip eq 1" } checked {/if} value="{$vo['isvip']}"
                                            lay-skin="switch" lay-filter="modify" lay-text="是|否">
                                    </td>
                                    <td>{$vo.update_time}</td>
                                    <td class="td-manage">
                                        <div class="layui-btn-group" style="position: relative;">
                                            <button class="layui-btn layui-btn-xs" data-id="{$vo.id}"
                                                onclick="chooseLang(this)">图集</button>
                                            <button
                                                class="layui-btn layui-btn-xs layui-btn-primary dropdown-trigger">操作<i
                                                    class="layui-icon layui-icon-down"></i></button>

                                            <ul class="dropdown-menu">
                                                <li data-id="{$vo.id}" onclick="set_edit(this)"><i
                                                        class="layui-icon">&#xe642;</i> 编辑</li>
                                                <!-- <li onclick="set_translate(this)" data-id="{$vo.id}"><i class="layui-icon">&#xe642;</i> 翻译</li> -->
                                                <li data-id="{$vo.id}" onclick="edit_translation(this)"><i
                                                        class="layui-icon">&#xe642;</i> 查看翻译
                                                </li>
                                                <li class="dropdown-danger" data-id="{$vo.id}" onclick="set_del(this)">
                                                    <i class="layui-icon">&#xe640;</i> 删除
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body ">

                        <div id="pages" class="center"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    layui.use(['laydate', 'form'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            var curUrl = "{:url('index',$param)}";
            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                    , layer = layui.layer,
                    $ = layer.jquery;
                laypage.render({
                    elem: 'pages'
                    , count: "{$total}"
                    , limit: "{$limit}"
                    , limits: [10, 20, 50, 100]
                    , curr: "{$page}"
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                    , jump: function (obj, first) {
                        if (!first) {
                            location.href = curUrl.replace('%7Bpage%7D', obj.curr).replace('%7Blimit%7D', obj.limit);
                        }
                    }
                });
            });


            form.on('switch(modify)', function (data) {
                var that = $(this), status = 0;
                var field = that.attr('name');
                if (this.checked) {
                    if (field == 'private') {
                        status = 2;
                    } else {
                        status = 1;
                    }
                }

                var id = that.attr('data-id');
                $.ajax({
                    url: "{:url('modify')}",
                    type: "POST",
                    data: {
                        id: id,
                        field: field,
                        value: status,
                    },
                    async: false,
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, { icon: 1 });
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        } else {
                            layer.msg(data.msg, { icon: 2 });
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                    },
                    error: function () {
                        layer.msg("System Service Busy!", { offset: '200px' });
                    }
                });
            });

            layui.laydate.render({
                elem: '#update_time',
                range: true,
                format: 'yyyy-MM-dd',
            });
        });


    /*
    编辑
     */
    function set_edit(t) {
        var id = $(t).attr("data-id");
        var url = '{:url("info")}' + '?id=' + id;
        var edit = layer.open({
            type: 2,
            title: '编辑视频',
            area: ['100%', '100%'],
            content: url, //iframe的url
        });
        layer.full(edit);
    }


    /*
    编辑
    */
    function chapter(t) {
        var id = $(t).attr("data-id");
        var url = '{:url("chapter")}' + '?comic_id=' + id;
        var edit = layer.open({
            type: 2,
            title: '漫画章节',
            area: ['100%', '100%'],
            content: url, //iframe的url
        });
        layer.full(edit);
    }


    /*
    删除
     */
    function set_del(t) {
        var id = $(t).attr("data-id");
        layer.confirm('你确定要删除么？', {
            btn: ['确定', '取消'] //可以无限个按钮
        }, function (index, layero) {
            //按钮【按钮一】的回调
            $.post('{:url("del")}', { 'id': id }, function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg, { icon: 1 });
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                } else {
                    layer.alert(data.msg, { icon: 2 });
                }
            });

        }, function (index) {
            //按钮【按钮二】的回调
        });

    }

    //图片显示
    function show_img(t) {
        var t = $(t).find("img");
        //页面层
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['75%', '85%'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
        });
    }

    function chooseLang(t) {
        var id = $(t).attr("data-id");

        var langSelectHTML = `
            <div style="padding: 20px; text-align: center;">
                <label for="lang">请选择语言：</label>
                <select id="lang" style="margin-top: 10px; padding: 5px 10px;">
                    <option value="zh">中文</option>
                    <option value="en">英文</option>
                </select>
            </div>
        `;

        layer.open({
            title: '选择语言',
            area: ['300px', '220px'],
            content: langSelectHTML,
            btn: ['确定', '取消'],
            yes: function(index, layero){
                var selectedLang = $('#lang').val();
                loadPhotos(id, selectedLang);
                layer.close(index);
            }
        });
    }

    function loadPhotos(id, lang) {
        $.post('{:url("photos")}', {'id': id, 'lang': lang}, function(data){
            if(data.code == 1){
                layer.photos({
                    photos: {
                        "title": "图集 (" + lang + ")",
                        "start": 0,
                        "data": data.data
                    }
                });
            } else {
                layer.alert(data.msg, {icon: 2});
            }
        });
    }

    $(document).on('click', '.dropdown-trigger', function (e) {
        e.stopPropagation(); // 阻止事件冒泡到 document
        let $menu = $(this).siblings('.dropdown-menu');

        // 关闭其它已打开的菜单
        $('.dropdown-menu').not($menu).hide();

        // 切换当前菜单
        $menu.toggle();
    });

    // 点击其他地方自动关闭
    $(document).on('click', function () {
        $('.dropdown-menu').hide();
    });

    function edit_translation(obj) {
        const chapter_id = $(obj).data('id');
        layer.open({
            type: 2,
            title: '编辑翻译内容',
            area: ['800px', '600px'],
            content: '/chapter/edit_translation?id=' + chapter_id
        });
    }

   function batchDeleteChapter() {
        var ids = [];
        $(".selectItem:checked").each(function () {
            ids.push($(this).val());
        });

        if (ids.length === 0) {
            layer.msg("请先选择要删除的章节", {icon: 2});
            return;
        }

        layer.confirm("确认要删除选中的章节吗？", {icon: 3, title: '提示'}, function (index) {
            $.ajax({
                url: "{:url('comic/batch_delete_chapter')}", // 新增路由
                type: "POST",
                data: {ids: ids},
                success: function (res) {
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                },
                error: function () {
                    layer.msg("请求失败", {icon: 2});
                }
            });
            layer.close(index);
        });
    }

</script>

</html>